@media (max-width: 1360px) {
  .blog-item__foto {
    height: 227px; }
  .blog-item__info {
    padding: 20px; }
  .mix:hover .portfolio__mix_cont {
    padding-top: 10%; }
  .portfolio__mix_cont {
    padding: 5%; }
    .portfolio__mix_cont h3 {
      font-size: 24px; } }

@media (max-width: 1024px) {
  .map-wrapper {
    margin-bottom: 100px;
    height: 400px; } }

@media (max-width: 992px) {
  .blog-item {
    margin: 0 auto 30px; }
  .row_collumn1 {
    margin-bottom: 0; }
  .about, .blog {
    padding: 25px 0; }
  .people {
    margin-bottom: 0; }
  .bottom-info__wrap {
    margin-left: 20px; }
  .bottom-info__list .bottom-info__item {
    font-size: 16px; }
  .header-title .header-title__welcome {
    font-size: 70px;
    margin: 0 0 25px; }
  .header-title {
    top: 30%; }
  .people-item__info {
    padding: 10px 5px; }
  .social-list .social-list__item {
    margin-left: 10px; }
  .service__item-title {
    font-size: 34px; }
  #portfolio-grid .mix {
    width: 33.3%; } }

@media (max-width: 768px) {
  .map-wrapper {
    margin-bottom: 50px;
    height: 200px; }
  .form-wrapper form {
    width: 95%; }
  .nav__link, .nav__link_slash {
    font-size: 15px; }
  .bottom-info {
    text-align: center; }
  .bottom-info__wrap {
    margin-bottom: 20px; }
  .content_left {
    padding-right: 0; }
  .content_right {
    padding-left: 0; }
  .about__content {
    margin: 0 0 40px; }
  .about, .blog {
    padding: 30px 0; } }

@media (max-width: 767px) {
  .people-item {
    margin-bottom: 30px; }
  .services__item_right,
  .services__item_left {
    margin: 0; }
  .services__item {
    margin-bottom: 20px;
    position: relative; }
    .services__item:after {
      content: "";
      position: absolute;
      width: 200px;
      height: 2px;
      bottom: 0;
      left: 50%;
      margin-left: -100px;
      background-color: #00a388; }
  .form-wrapper {
    padding: 50px 0 60px 0; }
  #portfolio-grid .mix {
    width: 50%; } }

@media (max-width: 639px) {
  .header-title .header-title__welcome {
    font-size: 33px;
    margin: 0 0 15px; }
  .header-title .header-title__name {
    font-size: 24px;
    margin: 0 0 10px; }
  .header-title .header-title__info {
    font-size: 13px; }
  .header-title {
    top: 20%; } }

@media (max-width: 480px) {
  .input-col {
    float: none;
    width: 100%;
    margin-left: 0; }
  #portfolio-grid .mix {
    width: 100%; }
  .row-480 .col-xs-6 {
    width: 100%; } }
