footer.footer
  .container
    .row
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        p.footer__title Copyright&copy; 2016 XakBoX. All rights reserved.  Privacy Policy | Terms of service | carrers