header.header#header
  img(src="img/bg_header.jpg", class="header_bg" alt="Foto header")
  .header-title
    h1.header-title__welcome Welcome To Sigxak
    p.header-title__name Creative Fashion Stylist
    p.header-title__info Designer &frasl; &frasl; Photographer &frasl; &frasl; Model