nav.nav
  .container
    .row
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        .nav__wrap
          a(href="#").nav-list__link Menu
          ul.nav__list
            li.nav__item
              a(href="#header").nav__link Home
            li.nav__item
              span.nav__link_slash &frasl; &frasl;
            li.nav__item
              a(href="#about").nav__link About
            li.nav__item
              span.nav__link_slash &frasl; &frasl;
            li.nav__item
              a(href="#portfolio").nav__link Portfolio
            li.nav__item
              span.nav__link_slash &frasl; &frasl;
            li.nav__item
              a(href="#services").nav__link Services
            li.nav__item
              span.nav__link_slash &frasl; &frasl;
            li.nav__item
              a(href="#blog").nav__link Blog
            li.nav__item
              span.nav__link_slash &frasl; &frasl;
            li.nav__item
              a(href="#contact").nav__link Contact